<form [formGroup]="formularioSignup" class="needs-validation">
    <div class="form-row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="registro-txt-nombre">Nombre</label>
                <input [ngClass]="{'is-valid':txtNombre.valid, 'is-invalid':txtNombre.invalid && (txtNombre.dirty || txtNombre.touched)}" formControlName="txtNombre" type="text" class="form-control" id="registro-txt-nombre" placeholder="" value="" required="">
                <div class="invalid-feedback">Campo vacío o dato inválido.</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="registro-txt-apellido">Apellido</label>
                <input [ngClass]="{'is-valid':txtApellido.valid, 'is-invalid':txtApellido.invalid && (txtApellido.dirty || txtApellido.touched)}" formControlName="txtApellido" type="text" class="form-control" id="registro-txt-apellido" placeholder="" value="" required="">
                <div class="invalid-feedback">Campo vacío o dato inválido.</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="registro-txt-nacimiento">Fecha de nacimiento</label>
                <input [ngClass]="{'is-valid':txtNacimiento.valid, 'is-invalid':txtNacimiento.invalid && (txtNacimiento.dirty || txtNacimiento.touched)}" formControlName="txtNacimiento" type="date" class="form-control" id="registro-txt-nacimiento" value="" required="">
                <div class="invalid-feedback">Campo vacío o dato inválido.</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="registro-txt-email">Correo electrónico</label>
                <input [ngClass]="{'is-valid':txtEmail.valid, 'is-invalid':(txtEmail.invalid && (txtEmail.dirty || txtEmail.touched)) || emailYaExiste}" formControlName="txtEmail" type="email" class="form-control" id="registro-txt-email" placeholder="nombre@ejemplo.com">
                <div *ngIf= "txtEmail.errors?.required" class="invalid-feedback text-left">Campo obligatorio.</div>
                <div *ngIf= "txtEmail.errors?.pattern" class="invalid-feedback text-left">Ingresa un email válido.</div>
                <div *ngIf= "emailYaExiste" class="invalid-feedback text-left">Este correo electrónico ya está en uso.</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="registro-txt-pwd1">Contraseña</label>
                <input [ngClass]="{'is-valid':txtPwd1.valid, 'is-invalid':txtPwd1.invalid && (txtPwd1.dirty || txtPwd1.touched)}" formControlName="txtPwd1" type="password" class="form-control" id="registro-txt-pwd1">
                <div *ngIf= "txtPwd1.errors?.required" class="invalid-feedback text-left">Campo obligatorio.</div>
                <div *ngIf= "txtPwd1.errors?.pattern" class="invalid-feedback text-left">Mínimo 8 caracteres, incluyendo números, minúsculas y mayúsculas.</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="registro-txt-pwd2">Confirmar contraseña</label>
                <input [ngClass]="{'is-valid':txtPwd2.valid, 'is-invalid':txtPwd2.invalid && (txtPwd2.dirty || txtPwd2.touched)}" formControlName="txtPwd2" type="password" class="form-control" id="registro-txt-pwd2">
                <div *ngIf= "txtPwd2.errors?.required" class="invalid-feedback text-left">Campo obligatorio.</div>
                <div *ngIf= "txtPwd2.errors?.passwordValidity" class="invalid-feedback text-left">La contraseña no coincide.</div>
            </div>
        </div>
        <div class="col-12 mt-3 text-center">
            <button class="btn btn-readyy-salmon btn-rounded" type="button" (click)="guardarUsuario()">Unirse ahora</button>
        </div>
    </div>
</form>
