<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand p-0" href="#">
        <div class="readyy-logo p-1">
            <div class="m-1 form-inline">
                <img src="assets/img/READYY_logo.svg">
                <img src="assets/img/READYY.svg">
            </div>
        </div>
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>        
    <div class="navbar-collapse collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" data-toggle="collapse" data-target="#navbarsExampleDefault">
            <a class="nav-link">Documentación</a>
            </li>
            <!-- usuario -->
            <li class="nav-item" data-toggle="collapse" data-target="#navbarsExampleDefault">
            <a class="nav-link" routerLink="/companies">Buscar empresas</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target="#navbarsExampleDefault" *ngIf="isLogged">
                <a class="nav-link" routerLink="user/admin" *ngIf="isAdmin">Perfil</a>
                <a class="nav-link" routerLink="user/admin-companies" *ngIf="isAdminCompanies">Perfil</a>
                <a class="nav-link" routerLink="user/buyer" *ngIf="isBuyer">Perfil</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target="#navbarsExampleDefault" *ngIf="isLogged && isBuyer">
            <a class="nav-link" data-toggle="modal" data-target="#shoppingCart">Mi carrito</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target="#navbarsExampleDefault" *ngIf="isLogged">
            <a class="nav-link">Cerrar sesión</a>
            </li>
            <!-- visitante -->
            <li class="nav-item" data-toggle="collapse" data-target="#navbarsExampleDefault">
            <!-- <a class="nav-link" routerLink="signup" *ngIf="currentUrl != '/signup'">Unirse ahora</a> -->
            <a class="nav-link" routerLink="signup">Unirse ahora</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target="#navbarsExampleDefault">
            <!-- <a class="nav-link" routerLink="login" *ngIf="currentUrl != '/login'">Iniciar sesión</a> -->
            <a class="nav-link" routerLink="login">Iniciar sesión</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target="#navbarsExampleDefault">
            <!-- <a class="nav-link" routerLink="home" *ngIf="currentUrl != '/home' && !isLogged">Volver al inicio</a> -->
            <a class="nav-link" routerLink="home">Volver al inicio</a>
            </li>
        </ul>
    </div>
</nav>
