<main class="bg-white">
    <div class="jumbotron bg-white">
        <div class="row">
            <div class="col-12 col-md-6 vertical-center">
                <img class="w-100 px-5" src="assets/img/landing_banner2.png">
            </div>
            <div class="col-12 col-md-6 vertical-center">
                <h1>404 Not Found</h1>
                <h3>¡Lo sentimos!</h3>
                <p>Parece que te encuentras un poco perdido... La página que estás buscando no existe.<br>¡Te sugerimos volver atrás y continuar tu vuelo!</p>
                <div class="text-center">
                    <a *ngIf="!isLogged" class="btn btn-readyy-salmon btn-rounded btn-lg" href="#">Inicio</a>
                    <a *ngIf="isLogged" class="btn btn-readyy-salmon btn-rounded btn-lg" href="#">Perfil</a>
                </div>
            </div>
        </div>
    </div>
    <app-footer [volverArriba]="false"></app-footer>
</main>
