<main role="main" class="bg-grey-light">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron bg-white rounded-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 vertical-center">
                    <h1>Crea un sitio web para tu empresa y vende tus productos en línea</h1>
                    <p>Promociona tu negocio y llega a muchas más personas de una forma moderna. Crea y personaliza tu sitio a tu gusto, ¡En READYY te ayudamos a lanzar tu negocio fácil y rápido!</p>
                    <p>
                        <a class="btn btn-readyy-salmon btn-rounded" routerLink="/signup"><span class="px-2">Unirse</span></a>
                        <a class="btn btn-readyy-salmon btn-rounded" routerLink="/login">Iniciar sesión</a>
                    </p>                </div>
                <div class="col-12 col-lg-6 pt-4 pt-lg-0 vertical-center"><img class="w-100" src="assets/img/landing_banner1.png"></div>
            </div>
        </div>
    </div> <!-- /container -->
    <div class="container mb-4">
        <div class="row pb-2">
            <div class="col-12 text-center mb-3">
                <h2>¡Bienvenido a READYY!</h2>
                <p>¿Qué puede hacer en nuestra plataforma de comercio electrónico?</p>
            </div>
            <div class="col-md-4 text-center mb-3 mb-lg-0">
                <div class="background-icon-banner bib-ss"><img src="assets/img/landing-carrito-compras.svg"></div>
                <h4 class="mt-3">Comprar</h4>
                <p>Adquiere los productos que tanto te gustan, ¡Explora las tiendas y compra ya!</p>
            </div>
            <div class="col-md-4 text-center mb-3 mb-lg-0">
                <div class="background-icon-banner"><img src="assets/img/landing-avion-papel.svg"></div>
                <h4 class="mt-3">Administrar</h4>
                <p>Crea sitios web y maneja tu contenido a tu estilo con nuestro gestor de archivos</p>
            </div>
            <div class="col-md-4 text-center mb-3 mb-lg-0">
                <div class="background-icon-banner"><img src="assets/img/landing-programacion.svg"></div>
                <h4 class="mt-3">Editar</h4>
                <p>Si tienes una página, edita de la manera tradicional o editando código HTML y CSS</p>
            </div>
        </div>
    </div> <!-- /container -->
    <div class="jumbotron bg-white rounded-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 vertical-center">
                    <h2>Hablemos sobre editar</h2>
                    <p>
                        Tienes la posibilidad de crear y editar bloques de contenido dentro de cada sitio web, ya sea ingresando la información que deseas mostrar, sin saber nada sobre diseño o programación, o con una herramienta de edición de código HTML y CSS.
                        <br><br>El usuario puede elegir el tamaño de los bloques a mostrar en distintos tipos de pantalla, esto facilita visualizar tu página desde cualquier dispositivo.
                        <br><br>¡Simple, elegante, READYY!
                    </p>
                </div>
                <div class="col-12 col-lg-6 pt-4 pt-lg-0 vertical-center"><img class="w-100" src="assets/img/landing_banner2.png"></div>
            </div>
        </div>
    </div> <!-- /jumbotron -->
    <div class="container pb-4">
        <h2>Conoce nuestros planes</h2>
        <p>Escoge cual se adapta a tus necesidades y prepara tu zona de lanzamiento.</p>
        <div class="card-deck scroll-div text-center">
            <div class="col-9 col-sm-5" *ngFor="let plan of listaPlanes">
                <div class="card shadow-sm mx-0">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ plan.nombre }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">${{ plan.precio }} <small class="text-muted">/ mes</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ plan.paginas }} páginas</li>
                            <li>{{ plan.categorias }} categorías</li>
                            <li>{{ plan.productos }} productos por cada categoría</li>
                            <li>Sube hasta {{ plan.archivos }} archivos</li>
                        </ul>
                        <a type="button" class="btn btn-readyy-salmon btn-rounded" routerLink="/signup"><span class="px-2">Unirse ahora</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
    <div class="jumbotron bg-white rounded-0 pb-0 mb-0">
        <div class="container mb-5">
            <div class="row">
                <div class="col-12">
                    <h2>Comprar productos</h2>
                    <p>¿Readyy para comprar? Conoce a nuestros clientes y mira sus ofertas.</p>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 pb-3" *ngFor="let empresa of listaEmpresas">
                            <div class="card p-2">
                                <div class="bg-secondary">
                                    <img [src]="empresa.logo" class="card-img-top p-1 item-img">
                                </div>
                                <div class="col-12 p-1 text-left">
                                    <h6 class="mb-1">{{ empresa.nombre }}</h6>
                                    <div>Por: {{ empresa.empresa }}</div>
                                    <div>{{  empresa.descripcion }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <a class="btn btn-readyy-salmon btn-rounded" routerLink="/companies">Ver más</a>
                </div>
            </div>
        </div> <!-- container -->
        <app-footer [volverArriba]="true"></app-footer>
    </div>
</main>
