<main class="bg-white">
    <div class="jumbotron bg-white rounded-0">
        <!-- Buscar empresas -->
        <div class="form-row mb-3">
            <div class="col-7 col-sm-9 col-md-10">
                <div class="input-group">
                    <input [formControl]="txtBuscar" type="text" class="form-control" required="">
                    <div class="input-group-append" *ngIf="verReset">
                        <button (click)="reiniciarBusqueda()" type="button" class="btn btn-danger font-weight-bold">×</button>
                    </div>
                </div>
            </div>
            <div class="col-5 col-sm-3 col-md-2">
                <button [disabled]="!txtBuscar.valid" (click)="buscarEmpresas()" class="btn btn-readyy-salmon btn-block" type="button">Buscar</button>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 pb-3" *ngFor="let empresa of listaEmpresas">
                <div class="card p-2">
                    <div class="bg-secondary">
                        <img [src]="empresa.logo" class="card-img-top p-1 item-img">
                    </div>
                    <div class="col-12 p-1 text-left">
                        <h6 class="mb-1">{{ empresa.nombre }}</h6>
                        <div>Por: {{ empresa.empresa }}</div>
                        <div>{{ empresa.descripcion }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer [volverArriba]="listaEmpresas != 0"></app-footer>

    <!-- VENTANAS MODALES -->
    <!-- Carrito de compras -->
    <div class="modal fade" id="shoppingCart" tabindex="-1" aria-labelledby="shoppingCartLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="shoppingCartLabel"><fa-icon [icon]="faShoppingCart" class="mr-2"></fa-icon>Carrito de compras</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Hamburguesa con doble queso de lujo</td>
                            <td scope="row">3</td>
                            <td scope="row">L. 35.00</td>
                            <td><button type="button" class="btn text-danger p-0 mr-2"><fa-icon [icon]="faTimesCircle"></fa-icon></button></td>
                        </tr>
                        <tr>
                            <td scope="row">Hamburguesa con doble queso de lujo</td>
                            <td scope="row">3</td>
                            <td scope="row">L.35.00</td>
                            <td><button type="button" class="btn text-danger p-0 mr-2"><fa-icon [icon]="faTimesCircle"></fa-icon></button></td>
                        </tr>
                        <tr class="font-weight-bold">
                            <td scope="row"></td>
                            <td scope="row">TOTAL</td>
                            <td scope="row">L.70.00</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Comprar</button>
          </div>
        </div>
      </div>
    </div>

</main>
