<ul class="list-group list-group-horizontal bg-dark rounded-0">
    <li (click)="cambiarRegion('perfil')" [ngClass]="regionVisible=='perfil' ? 'btn-primary' : 'btn-dark'" class="btn list-g-i rounded-0">Perfil</li>
    <li (click)="cambiarRegion('usuarios')" [ngClass]="regionVisible=='usuarios' ? 'btn-primary' : 'btn-dark'" class="btn list-g-i rounded-0">Usuarios</li>
    <li (click)="cambiarRegion('empresas')" [ngClass]="regionVisible=='empresas' ? 'btn-primary' : 'btn-dark'" class="btn list-g-i rounded-0">Empresas</li>
    <li (click)="cambiarRegion('planes')" [ngClass]="regionVisible=='planes' ? 'btn-primary' : 'btn-dark'" class="btn list-g-i rounded-0">Planes</li>
</ul>
<main [ngSwitch]="regionVisible">

    <div *ngSwitchCase="'perfil'" class="p-4 bg-grey-light">
        <div class="row px-2">
            <div class="col-12 col-sm-8 col-md-9">
                <h4 class="font-weight-normal">¡Hola {{ infoPerfil.nombre }} {{ infoPerfil.apellido }}!</h4>
                <div>Fecha de nacimiento: {{ infoPerfil.fechaNacimiento }}</div>
                <br>
                <h6>Administrador de plataforma<fa-icon [icon]="faPlane" class="ml-2"></fa-icon></h6>
            </div>
            <div class="col-12 col-sm-4 col-md-3 mt-3 mt-sm-0 text-right">
                <button class="btn btn-readyy-salmon btn-rounded" type="button" (click)="abrirEditarUsuario(modalEditarUsuario, infoPerfil._id)"><fa-icon [icon]="faPen" class="mr-2"></fa-icon>Editar perfil</button>
            </div>
        </div>
    </div>
    <div class="p-4">
        <h5 class="px-2 font-weight-normal">► Ir a <a href="#">Administración de Temas y plantillas</a></h5>
    </div>
    <div *ngSwitchCase="'usuarios'" class="p-4">
        <div class="row pb-4 px-2">
            <h4 class="col-6 font-weight-normal">Usuarios</h4>
            <div class="col-6 text-right">
                <button class="btn btn-readyy-salmon btn-rounded" type="button" (click)="abrirNuevoUsuario(modalNuevoUsuario)"><fa-icon [icon]="faPlusCircle" class="mr-2"></fa-icon>Agregar</button>
            </div>
        </div>
        <div class="py-3 row mx-0">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let usuario of listaUsuarios">
                <div class="card shadow-sm p-2 bg-grey-light">
                    <div class="p-1 text-left">
                        <div>{{ usuario.nombre }} {{ usuario.apellido }}</div>
                        <h6 class="mb-1">{{ usuario.tipoUsuario}}</h6>
                        <div>
                            <button type="button" class="btn btn-link p-0" (click)="abrirEditarUsuario(modalEditarUsuario, usuario._id)"><fa-icon [icon]="faEdit" class="mr-2"></fa-icon>Editar</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-link text-danger p-0" (click)="borrarUsuario(usuario._id)"><fa-icon [icon]="faTrash" class="mr-2"></fa-icon>Borrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'empresas'" class="p-4">
        <div class="row pb-4 px-2">
            <h4 class="col-6 font-weight-normal">Empresas</h4>
            <!-- <div class="col-6 text-right">
                <button class="btn btn-readyy-salmon btn-rounded" type="button" (click)="abrirNuevaEmpresa(modalNuevaEmpresa)"><fa-icon [icon]="faPlusCircle" class="mr-2"></fa-icon>Agregar</button>
            </div> -->
        </div>
        <div class="py-3 row mx-0">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let empresa of listaEmpresas">
                <div class="card shadow-sm p-2 bg-grey-light">
                    <div class="bg-secondary m-1">
                        <img [src]="empresa.favicon" class="p-1 card-img-top item-img">
                    </div>
                    <div class="p-1 text-left">
                        <h6 class="mb-1">{{ empresa.titulo }}</h6>
                        <div>{{ empresa.identificador }}</div>
                        <div>
                            <button type="button" class="btn btn-link text-indigo p-0" (click)="abrirEditarEmpresa(modalEditarEmpresa, empresa._id)"><fa-icon [icon]="faBan" class="mr-2"></fa-icon>Bloquear</button>
                        </div>
                        <div *ngIf="!empresa.estado">
                            <button type="button" class="btn btn-link text-danger p-0" (click)="desbloquearEmpresa(empresa._id)"><fa-icon [icon]="faTrash" class="mr-2"></fa-icon>Borrar</button>
                        </div>
                        <div *ngIf="empresa.estado">
                            <button type="button" class="btn btn-link text-danger p-0" (click)="bloquearEmpresa(empresa._id)"><fa-icon [icon]="faTrash" class="mr-2"></fa-icon>Borrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'planes'" class="p-4">
        <div class="row pb-4 px-2">
            <h4 class="col-6 font-weight-normal">Planes de servicio</h4>
            <div class="col-6 text-right">
                <button class="btn btn-readyy-salmon btn-rounded" type="button" (click)="abrirNuevoPlan(modalNuevoPlan)"><fa-icon [icon]="faPlusCircle" class="mr-2"></fa-icon>Agregar</button>
            </div>
        </div>
        <div class="card-deck mx-0 py-3 text-center">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let plan of listaPlanes">
                <div class="card shadow-sm mx-0">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ plan.nombre }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">${{ plan.precio }} <small class="text-muted">/ mes</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ plan.empresas }} empresas</li>
                            <li>{{ plan.categorias }} categorías</li>
                            <li>{{ plan.productos }} productos por cada categoría</li>
                            <li>Sube hasta {{ plan.archivos }} archivos</li>
                            <li>
                                <button type="button" class="btn btn-primary btn-rounded my-1" (click)="abrirEditarPlan(modalEditarPlan, plan._id)"><span class="px-2"><fa-icon [icon]="faEdit" class="mr-2"></fa-icon>Editar</span></button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-danger btn-rounded" (click)="borrarPlan(plan._id)"><span class="px-2"><fa-icon [icon]="faTrash" class="mr-2"></fa-icon>Borrar</span></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- VENTANAS MODALES -->
    <!-- Editar perfil de administrador de plataforma -->
    <!-- <div class="modal fade" id="editPaModal" tabindex="-1" aria-labelledby="editPaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPaModalLabel">Editar información de perfil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-pa-info">
                        <div class="form-row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-edit-nombre">Nombre</label>
                                    <input type="text" class="form-control" id="pa-edit-nombre">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-edit-apellido">Apellido</label>
                                    <input type="text" class="form-control" id="pa-edit-apellido">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-sm-6 mb-3">
                                <div class="form-group">
                                    <label for="pa-edit-fecha">Fecha de nacimiento</label>
                                    <input type="date" class="form-control" id="pa-edit-fecha">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-edit-email">Correo electrónico</label>
                                    <input type="email" class="form-control" id="pa-edit-email">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form id="form-pa-password" style="display: none;">
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="bm-password-anterior">Contraseña anterior</label>
                                    <input type="password" class="form-control" id="pa-password-anterior">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="bm-password-nueva">Nueva contraseña</label>
                                    <input type="password" class="form-control" id="pa-password-nueva">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="bm-password-confirmar">Confirmar contraseña</label>
                                    <input type="password" class="form-control" id="pa-password-confirmar">
                                    <div class="invalid-feedback">La contraseña no coincide.</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="edit-password">
                                <label class="form-check-label" for="edit-password">Cambiar contraseña</label>
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Nuevo usuario -->
    <!-- <div class="modal fade" id="newUserModal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newUserModalLabel">Nuevo usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-usuario-nombre">Nombre</label>
                                    <input type="text" class="form-control" id="pa-usuario-nombre">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-usuario-apellido">Apellido</label>
                                    <input type="text" class="form-control" id="pa-usuario-apellido">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 mb-3">
                                <div class="form-group">
                                    <label for="pa-usuario-fecha">Fecha de nacimiento</label>
                                    <input type="date" class="form-control" id="pa-usuario-fecha">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-usuario-email">Correo electrónico</label>
                                    <input type="email" class="form-control" id="pa-usuario-email">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-usuario-contraseña">Contraseña</label>
                                    <input type="password" class="form-control" id="pa-usuario-contraseña">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-usuario-confirmar">Confirmar contraseña</label>
                                    <input type="email" class="form-control" id="pa-usuario-confirmar">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="pa-usuario-tipo">Tipo de usuario</label>
                                    <select class="form-control" id="pa-usuario-tipo"></select>
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                        </div>
                        <div id="bm-data">
                            <div class="form-row">
                                <div class="col-12 h6 form-group">Información de la empresa o negocio</div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="pa-usuario-empresa">Nombre</label>
                                        <input type="text" class="form-control" id="pa-usuario-empresa">
                                        <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="pa-usuario-direccion">Dirección</label>
                                        <input type="text" class="form-control" id="pa-usuario-direccion">
                                        <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="pa-usuario-descripcion">Breve descripción</label>
                                        <input type="text" class="form-control" id="pa-usuario-descripcion">
                                        <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Nueva empresa o sitio web -->
    <!-- <div class="modal fade" id="newBusinessModal" tabindex="-1" aria-labelledby="newBusinessModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newBusinessModalLabel">Nueva empresa o sitio web</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-sitio-titulo">Título del sitio</label>
                                    <input type="text" class="form-control" id="pa-sitio-titulo">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-sitio-id">ID (sin espacios)</label>
                                    <input type="text" class="form-control" id="pa-sitio-id" min="0">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-sitio-descripcion">Descripción</label>
                                    <input type="text" class="form-control" id="pa-sitio-descripcion">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-sitio-palabras">Plabaras claves</label>
                                    <input type="text" class="form-control" id="pa-sitio-descripcion">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="pa-sitio-logo">Logotipo</label>
                                    <div><input type="file" class="overflow-hidden" id="pa-sitio-logo" lang="es"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="pa-sitio-favicon">Favicon</label>
                                    <div><input type="file" class="overflow-hidden" id="pa-sitio-favicon" lang="es"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="pa-sitio-css">CSS extra</label>
                                    <textarea class="form-control" id="pa-sitio-css" rows="3"></textarea>
                                </div>
                                <div class="invalid-feedback">Campo vacío o dato inválido</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="pa-sitio-js">JS extra</label>
                                    <textarea class="form-control" id="pa-sitio-js" rows="3"></textarea>
                                </div>
                                <div class="invalid-feedback">Campo vacío o dato inválido</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Nuevo plan -->
    <!-- <div class="modal fade" id="newPlanModal" tabindex="-1" aria-labelledby="newPlanModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newPlanModalLabel">Nuevo plan de servicios</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-plan-nombre">Nombre o título</label>
                                    <input type="text" class="form-control" id="pa-plan-nombre">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-plan-precio">Precio (en dólares)</label>
                                    <input type="text" class="form-control" id="pa-plan-precio">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-plan-paginas">Maximo de páginas</label>
                                    <input type="number" class="form-control" id="pa-plan-paginas" min="0">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-plan-categorias">Categorías disponible</label>
                                    <input type="number" class="form-control" id="pa-plan-categorias" min="0">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-plan-productos">Productos por categoría</label>
                                    <input type="number" class="form-control" id="pa-plan-productos" min="0">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="pa-plan-archivos">Límite de archivos</label>
                                    <input type="number" class="form-control" id="pa-plan-archivos" min="0">
                                    <div class="invalid-feedback">Campo vacío o dato inválido</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- /VENTANAS MODALES -->
    
</main>
<app-footer></app-footer>

<!-- ---------------------------------- -->
<!-- Ventana modal para editar usuario -->
<ng-template #modalEditarUsuario let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar información de usuario</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Hola
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="editarUsuario(infoPerfil._id)">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>

<!-- Ventana modal para guardar nuevo usuario -->
<ng-template #modalNuevoUsuario let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Crear usuario</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Hola
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="crearUsuario()">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>

<!-- Ventana modal para editar empresa -->
<ng-template #modalEditarEmpresa let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar empresa</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Hola
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="editarEmpresa(actualEmpresa)">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>

<!-- Ventana modal para crear nuevo plan de servicio -->
<ng-template #modalNuevoPlan let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Nuevo plan</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Hola
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="crearPlan()">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>

<!-- Ventana modal para editar un plan -->
<ng-template #modalEditarPlan let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar plan de servicio</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Hola
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="editarPlan(actualPlan)">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>
