<ul class="list-group list-group-horizontal bg-dark rounded-0">
    <li (click)="cambiarRegion('perfil')" [ngClass]="regionVisible=='perfil' ? 'btn-primary' : 'btn-dark'" class="btn list-g-i rounded-0">Perfil</li>
    <li (click)="cambiarRegion('usuarios')" [ngClass]="regionVisible=='usuarios' ? 'btn-primary' : 'btn-dark'" class="btn list-g-i rounded-0">Usuarios</li>
    <li (click)="cambiarRegion('empresas')" [ngClass]="regionVisible=='empresas' ? 'btn-primary' : 'btn-dark'" class="btn list-g-i rounded-0">Empresas</li>
    <li (click)="cambiarRegion('planes')" [ngClass]="regionVisible=='planes' ? 'btn-primary' : 'btn-dark'" class="btn list-g-i rounded-0">Planes</li>
</ul>
<main [ngSwitch]="regionVisible">

    <div *ngSwitchCase="'perfil'" class="p-4 bg-grey-light">
        <div class="row px-2">
            <div class="col-12 col-sm-8 col-md-9">
                <h4 class="font-weight-normal">¡Hola {{ infoPerfil.nombre }} {{ infoPerfil.apellido }}!</h4>
                <div>Fecha de nacimiento: {{ infoPerfil.fechaNacimiento }}</div>
                <br>
                <h6>Administrador de plataforma<fa-icon [icon]="faPlane" class="ml-2"></fa-icon></h6>
            </div>
            <div class="col-12 col-sm-4 col-md-3 mt-3 mt-sm-0 text-right">
                <button class="btn btn-readyy-salmon btn-rounded" type="button" (click)="abrirEditarUsuario(modalEditarUsuario, infoPerfil._id)"><fa-icon [icon]="faPen" class="mr-2"></fa-icon>Editar perfil</button>
            </div>
        </div>
        <div class="p-4">
            <h5 class="px-2 font-weight-normal">► Ir a <a href="#">Administración de Temas y plantillas</a></h5>
        </div>
    </div>
    <div *ngSwitchCase="'usuarios'" class="p-4">
        <div class="row pb-4 px-2">
            <h4 class="col-6 font-weight-normal">Usuarios</h4>
            <div class="col-6 text-right">
                <button class="btn btn-readyy-salmon btn-rounded" type="button" (click)="abrirNuevoUsuario(modalNuevoUsuario)"><fa-icon [icon]="faPlusCircle" class="mr-2"></fa-icon>Agregar</button>
            </div>
        </div>
        <div class="py-3 row mx-0">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let usuario of listaUsuarios">
                <div class="card shadow-sm p-2 bg-grey-light">
                    <div class="p-1 text-left">
                        <div>{{ usuario.nombre }} {{ usuario.apellido }}</div>
                        <h6 class="mb-1">{{ usuario.tipoUsuario}}</h6>
                        <div>
                            <button type="button" class="btn btn-link p-0" (click)="abrirEditarUsuario(modalEditarUsuario, usuario._id)"><fa-icon [icon]="faEdit" class="mr-2"></fa-icon>Editar</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-link text-danger p-0" (click)="borrarUsuario(usuario._id)"><fa-icon [icon]="faTrash" class="mr-2"></fa-icon>Borrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'empresas'" class="p-4">
        <div class="row pb-4 px-2">
            <h4 class="col-6 font-weight-normal">Empresas</h4>
            <!-- <div class="col-6 text-right">
                <button class="btn btn-readyy-salmon btn-rounded" type="button" (click)="abrirNuevaEmpresa(modalNuevaEmpresa)"><fa-icon [icon]="faPlusCircle" class="mr-2"></fa-icon>Agregar</button>
            </div> -->
        </div>
        <div class="py-3 row mx-0">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let empresa of listaEmpresas">
                <div class="card shadow-sm p-2 bg-grey-light">
                    <div class="bg-secondary m-1">
                        <img [src]="empresa.favicon" class="p-1 card-img-top item-img">
                    </div>
                    <div class="p-1 text-left">
                        <h6 class="mb-1">{{ empresa.titulo }}</h6>
                        <div>{{ empresa.identificador }}</div>
                        <div *ngIf="!empresa.estado">
                            <button type="button" class="btn btn-link text-danger p-0" (click)="desbloquearEmpresa(empresa._id)"><fa-icon [icon]="faTrash" class="mr-2"></fa-icon>Desbloquear</button>
                        </div>
                        <div *ngIf="empresa.estado">
                            <button type="button" class="btn btn-link text-danger p-0" (click)="bloquearEmpresa(empresa._id)"><fa-icon [icon]="faTrash" class="mr-2"></fa-icon>Bloquear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'planes'" class="p-4">
        <div class="row pb-4 px-2">
            <h4 class="col-6 font-weight-normal">Planes de servicio</h4>
            <div class="col-6 text-right">
                <button class="btn btn-readyy-salmon btn-rounded" type="button" (click)="abrirNuevoPlan(modalNuevoPlan)"><fa-icon [icon]="faPlusCircle" class="mr-2"></fa-icon>Agregar</button>
            </div>
        </div>
        <div class="card-deck mx-0 py-3 text-center">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let plan of listaPlanes">
                <div class="card shadow-sm mx-0">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ plan.nombre }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">${{ plan.precio }} <small class="text-muted">/ mes</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ plan.empresas }} empresas</li>
                            <li>{{ plan.categorias }} categorías</li>
                            <li>{{ plan.productos }} productos por cada categoría</li>
                            <li>Sube hasta {{ plan.archivos }} archivos</li>
                            <li>
                                <button type="button" class="btn btn-primary btn-rounded my-1" (click)="abrirEditarPlan(modalEditarPlan, plan._id)"><span class="px-2"><fa-icon [icon]="faEdit" class="mr-2"></fa-icon>Editar</span></button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-danger btn-rounded" (click)="borrarPlan(plan._id)"><span class="px-2"><fa-icon [icon]="faTrash" class="mr-2"></fa-icon>Borrar</span></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</main>
<app-footer></app-footer>

<!-- ---------------------------------- -->
<!-- Ventana modal para editar usuario -->
<ng-template #modalEditarUsuario let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar información de usuario</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formEditarUsuario" class="needs-validation">
            <div class="form-row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="usuario-new-nombre">Nombre</label>
                        <input [ngClass]="{'is-valid':ur_newNombre.valid, 'is-invalid':ur_newNombre.invalid && (ur_newNombre.dirty || ur_newNombre.touched)}" formControlName="ur_newNombre" type="text" class="form-control" id="usuario-new-nombre" placeholder="" value="" required="">
                        <div class="invalid-feedback">Campo vacío o dato inválido.</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="usuario-new-apellido">Apellido</label>
                        <input [ngClass]="{'is-valid':ur_newApellido.valid, 'is-invalid':ur_newApellido.invalid && (ur_newApellido.dirty || ur_newApellido.touched)}" formControlName="ur_newApellido" type="text" class="form-control" id="usuario-new-apellido" placeholder="" value="" required="">
                        <div class="invalid-feedback">Campo vacío o dato inválido.</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="usuario-new-nacimiento">Fecha de nacimiento</label>
                        <input [ngClass]="{'is-valid':ur_newNacimiento.valid, 'is-invalid':ur_newNacimiento.invalid && (ur_newNacimiento.dirty || ur_newNacimiento.touched)}" formControlName="ur_newNacimiento" type="date" class="form-control" id="usuario-new-nacimiento" value="" required="">
                        <div class="invalid-feedback">Campo vacío o dato inválido.</div>
                    </div>
                </div>
                <div class="col-12 col-md-6" *ngIf="actualUsuario.tipoUsuario=='Administrador de negocios'">
                    <div class="form-group">
                        <label for="usuario-new-empresa">Nombre de la empresa</label>
                        <input [ngClass]="{'is-valid':ur_newEmpresa.valid, 'is-invalid':ur_newEmpresa.invalid && (ur_newEmpresa.dirty || ur_newEmpresa.touched)}" formControlName="ur_newEmpresa" type="date" class="form-control" id="usuario-new-empresa" value="" required="">
                        <div class="invalid-feedback">Campo vacío o dato inválido.</div>
                    </div>
                </div>
                <div class="col-12 col-md-6" *ngIf="actualUsuario.tipoUsuario=='Administrador de negocios'">
                    <div class="form-group">
                        <label for="usuario-new-descripcion">Descripción breve de la empresa</label>
                        <input [ngClass]="{'is-valid':ur_newDescripcion.valid, 'is-invalid':ur_newDescripcion.invalid && (ur_newDescripcion.dirty || ur_newDescripcion.touched)}" formControlName="ur_newDescripcion" type="date" class="form-control" id="usuario-new-descripcion" value="" required="">
                        <div class="invalid-feedback">Campo vacío o dato inválido.</div>
                    </div>
                </div>
                <div class="col-12 col-md-6" *ngIf="actualUsuario.tipoUsuario=='Administrador de negocios'">
                    <div class="form-group">
                        <label for="usuario-new-direccion">Dirección de la empresa</label>
                        <input [ngClass]="{'is-valid':ur_newDireccion.valid, 'is-invalid':ur_newDireccion.invalid && (ur_newDireccion.dirty || ur_newDireccion.touched)}" formControlName="ur_newDireccion" type="date" class="form-control" id="usuario-new-direccion" value="" required="">
                        <div class="invalid-feedback">Campo vacío o dato inválido.</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="!formEditarUsuario.valid" type="button" class="btn btn-success" (click)="editarUsuario()">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>

<!-- Ventana modal para guardar nuevo usuario -->
<ng-template #modalNuevoUsuario let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Crear usuario</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Hola
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="crearUsuario()">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>

<!-- Ventana modal para crear nuevo plan de servicio -->
<ng-template #modalNuevoPlan let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Nuevo plan</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formCrearPlan" class="needs-validation">
            <div class="form-row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="plan-txt-nombre">Nombre</label>
                        <input [ngClass]="{'is-valid':pr_txtNombre.valid, 'is-invalid':pr_txtNombre.invalid && (pr_txtNombre.dirty || pr_txtNombre.touched)}" formControlName="pr_txtNombre" type="text" class="form-control" id="plan-txt-nombre" placeholder="" value="" required="">
                        <div class="invalid-feedback">Campo vacío o dato inválido.</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="plan-txt-precio">Precio</label>
                        <input [ngClass]="{'is-valid':pr_txtPrecio.valid, 'is-invalid':pr_txtPrecio.invalid && (pr_txtPrecio.dirty || pr_txtPrecio.touched)}" formControlName="pr_txtPrecio" type="number" min="0" class="form-control" id="plan-txt-precio" placeholder="" value="" required="">
                        <div class="invalid-feedback">Campo vacío o dato inválido.</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="plan-txt-empresas">Límite de empresas</label>
                        <input [ngClass]="{'is-valid':pr_txtEmpresas.valid, 'is-invalid':pr_txtEmpresas.invalid && (pr_txtEmpresas.dirty || pr_txtEmpresas.touched)}" formControlName="pr_txtEmpresas" type="number" min="0" class="form-control" id="plan-txt-empresas" value="" required="">
                        <div class="invalid-feedback">Campo vacío o dato inválido.</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="plan-txt-categorias">Límite de categorías empresa</label>
                        <input [ngClass]="{'is-valid':pr_txtCategorias.valid, 'is-invalid':pr_txtCategorias.invalid && (pr_txtCategorias.dirty || pr_txtCategorias.touched)}" formControlName="pr_txtCategorias" type="number" min="0" class="form-control" id="plan-txt-categorias" value="" required="">
                        <div class="invalid-feedback">Campo vacío o dato inválido.</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="plan-txt-productos">Límite de productos por categoría</label>
                        <input [ngClass]="{'is-valid':pr_txtProductos.valid, 'is-invalid':pr_txtProductos.invalid && (pr_txtProductos.dirty || pr_txtProductos.touched)}" formControlName="pr_txtProductos" type="number" min="0" class="form-control" id="plan-txt-productos" value="" required="">
                        <div class="invalid-feedback">Campo vacío o dato inválido.</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="plan-txt-archivos">Límite de archivos</label>
                        <input [ngClass]="{'is-valid':pr_txtArchivos.valid, 'is-invalid':pr_txtArchivos.invalid && (pr_txtArchivos.dirty || pr_txtArchivos.touched)}" formControlName="pr_txtArchivos" type="number" min="0" class="form-control" id="plan-txt-archivos" value="" required="">
                        <div class="invalid-feedback">Campo vacío o dato inválido.</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="!formCrearPlan.valid" type="button" class="btn btn-success" (click)="crearPlan()">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>

<!-- Ventana modal para editar un plan -->
<ng-template #modalEditarPlan let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar plan de servicio</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Hola
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="editarPlan(actualPlan)">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>
