<main class="bg-white">    
    <div class="p-4 bg-grey-light">
        <div class="row px-2">
            <div class="col-12 col-sm-8 col-md-9">
                <h3 class="font-weight-normal">¡Hola {{ infoPerfil.nombre }} {{ infoPerfil.apellido }}!</h3>
                <div>Fecha de nacimiento: {{ infoPerfil.fechaNacimiento }}</div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 mt-2 mt-sm-0 text-right">
                <button class="btn btn-readyy-salmon btn-rounded" type="button" (click)="abrirEditarUsuario(modalEditarUsuario, infoPerfil._id)"><fa-icon [icon]="faPen" class="mr-2"></fa-icon>Editar perfil</button>
            </div>
        </div>
    </div>
    <div class="p-4 mb-5">
        <div class="row pb-4 px-2">
            <h3 class="col-6 font-weight-normal">Historial de compras</h3>
            <div class="col-6 text-right">
                <button [disabled]="infoPerfil.historialCompras.length == 0" (click)="borrarHistorial()" class="btn btn-readyy-salmon btn-rounded" type="button"><fa-icon [icon]="faTrash" class="mr-2"></fa-icon>Borrar</button>
            </div>
        </div>
        <p class="px-2" *ngIf="infoPerfil.historialCompras.length == 0">No hay elementos en esta lista.</p>
        <div class="scroll-div" *ngIf="infoPerfil.historialCompras.length != 0">
            <table class="table table-bordered ws-nw">
                <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Fecha de compra</th>
                        <th scope="col">Costo unidad</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of infoPerfil.historialCompras">
                        <td scope="row">{{ producto.nombre }} <br><i><fa-icon [icon]="faArrowRight"></fa-icon> {{ producto.empresa }}</i></td>
                        <td scope="row">{{ producto.fechaCompra }}</td>
                        <td scope="row">{{ producto.precio }}</td>
                        <td scope="row">{{ producto.cantidad }}</td>
                        <td scope="row">{{ producto.total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <app-footer></app-footer>

</main>


<!-- ---------------------------------- -->
<!-- Ventana modal para editar usuario -->
<ng-template #modalEditarUsuario let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar información de usuario</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formEditarUsuario" class="needs-validation">
            <div class="form-row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="usuario-new-nombre">Nombre</label>
                        <input [ngClass]="{'is-valid':ur_newNombre.valid, 'is-invalid':ur_newNombre.invalid && (ur_newNombre.dirty || ur_newNombre.touched)}" formControlName="ur_newNombre" type="text" class="form-control" id="usuario-new-nombre" placeholder="" value="" required="">
                        <div class="invalid-feedback">Campo vacío o dato inválido.</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="usuario-new-apellido">Apellido</label>
                        <input [ngClass]="{'is-valid':ur_newApellido.valid, 'is-invalid':ur_newApellido.invalid && (ur_newApellido.dirty || ur_newApellido.touched)}" formControlName="ur_newApellido" type="text" class="form-control" id="usuario-new-apellido" placeholder="" value="" required="">
                        <div class="invalid-feedback">Campo vacío o dato inválido.</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="usuario-new-nacimiento">Fecha de nacimiento</label>
                        <input [ngClass]="{'is-valid':ur_newNacimiento.valid, 'is-invalid':ur_newNacimiento.invalid && (ur_newNacimiento.dirty || ur_newNacimiento.touched)}" formControlName="ur_newNacimiento" type="date" class="form-control" id="usuario-new-nacimiento" value="" required="">
                        <div class="invalid-feedback">Campo vacío o dato inválido.</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="!formEditarUsuario.valid" type="button" class="btn btn-success" (click)="editarUsuario()">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>
