<form [formGroup]="formularioSignup" class="needs-validation">
    <div class="form-row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="registro-txt-nombre">Nombre</label>
                <input [ngClass]="{'is-valid':ur_txtNombre.valid, 'is-invalid':ur_txtNombre.invalid && (ur_txtNombre.dirty || ur_txtNombre.touched)}" formControlName="ur_txtNombre" type="text" class="form-control" id="registro-txt-nombre" placeholder="" value="" required="">
                <div class="invalid-feedback">Campo vacío o dato inválido.</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="registro-txt-apellido">Apellido</label>
                <input [ngClass]="{'is-valid':ur_txtApellido.valid, 'is-invalid':ur_txtApellido.invalid && (ur_txtApellido.dirty || ur_txtApellido.touched)}" formControlName="ur_txtApellido" type="text" class="form-control" id="registro-txt-apellido" placeholder="" value="" required="">
                <div class="invalid-feedback">Campo vacío o dato inválido.</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="registro-txt-nacimiento">Fecha de nacimiento</label>
                <input [ngClass]="{'is-valid':ur_txtNacimiento.valid, 'is-invalid':ur_txtNacimiento.invalid && (ur_txtNacimiento.dirty || ur_txtNacimiento.touched)}" formControlName="ur_txtNacimiento" type="date" class="form-control" id="registro-txt-nacimiento" value="" required="">
                <div class="invalid-feedback">Campo vacío o dato inválido.</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="registro-txt-email">Correo electrónico</label>
                <input [ngClass]="{'is-valid':ur_txtEmail.valid, 'is-invalid':(ur_txtEmail.invalid && (ur_txtEmail.dirty || ur_txtEmail.touched)) || emailYaExiste}" formControlName="ur_txtEmail" type="email" class="form-control" id="registro-txt-email" placeholder="nombre@ejemplo.com">
                <div *ngIf= "ur_txtEmail.errors?.required" class="invalid-feedback text-left">Campo obligatorio.</div>
                <div *ngIf= "ur_txtEmail.errors?.pattern" class="invalid-feedback text-left">Ingresa un email válido.</div>
                <div *ngIf= "emailYaExiste" class="invalid-feedback text-left">Este correo electrónico ya está en uso.</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="registro-txt-pwd1">Contraseña</label>
                <input [ngClass]="{'is-valid':ur_txtPwd1.valid, 'is-invalid':ur_txtPwd1.invalid && (ur_txtPwd1.dirty || ur_txtPwd1.touched)}" formControlName="ur_txtPwd1" type="password" class="form-control" id="registro-txt-pwd1">
                <div *ngIf= "ur_txtPwd1.errors?.required" class="invalid-feedback text-left">Campo obligatorio.</div>
                <div *ngIf= "ur_txtPwd1.errors?.pattern" class="invalid-feedback text-left">Mínimo 8 caracteres, incluyendo números, minúsculas y mayúsculas.</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="registro-txt-pwd2">Confirmar contraseña</label>
                <input [ngClass]="{'is-valid':ur_txtPwd2.valid, 'is-invalid':ur_txtPwd2.invalid && (ur_txtPwd2.dirty || ur_txtPwd2.touched)}" formControlName="ur_txtPwd2" type="password" class="form-control" id="registro-txt-pwd2">
                <div *ngIf= "ur_txtPwd2.errors?.required" class="invalid-feedback text-left">Campo obligatorio.</div>
                <div *ngIf= "ur_txtPwd2.errors?.passwordValidity" class="invalid-feedback text-left">La contraseña no coincide.</div>
            </div>
        </div>
        <p class="col-12 mt-3">Selecciona tu plan de pago y adquisición de servicios.</p>
        <div class="col-12 form-group">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Plan de pago</th>
                        <th scope="col">Precio</th>
                        <th scope="col" class="d-none d-sm-table-cell">Características</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let plan of listaPlanes">
                        <td scope="row">
                            <div class="custom-control custom-radio">
                                <input [formControl]="ur_txtPlan" [id]="plan.nombre" name="registro-txt-plan" type="radio" class="custom-control-input" required="" [value]="plan._id">
                                <label class="custom-control-label" [for]="plan.nombre">{{ plan.nombre }}</label>
                            </div>
                        </td>
                        <td scope="row" *ngIf="plan.precio == 0">GRATIS</td>
                        <td scope="row" *ngIf="plan.precio != 0">${{ plan.precio }}/mes</td>
                        <td scope="row" class="d-none d-sm-table-cell">{{ plan.empresas }} empresas, {{ plan.categorias }} categorías, {{ plan.productos }} productos por cada categoría, sube hasta {{ plan.archivos }} archivos.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="registro-txt-empresa">Nombre de la empresa</label>
                <input [ngClass]="{'is-valid':ur_txtEmpresa.valid, 'is-invalid':ur_txtEmpresa.invalid && (ur_txtEmpresa.dirty || ur_txtEmpresa.touched)}" formControlName="ur_txtEmpresa" type="text" class="form-control" id="registro-txt-empresa" placeholder="" value="" required="">
                <div class="invalid-feedback">Campo vacío o dato inválido.</div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="registro-txt-direccion">Dirección</label>
                <input [ngClass]="{'is-valid':ur_txtDireccion.valid, 'is-invalid':ur_txtDireccion.invalid && (ur_txtDireccion.dirty || ur_txtDireccion.touched)}" formControlName="ur_txtDireccion" type="text" class="form-control" id="registro-txt-direccion" placeholder="" value="" required="">
                <div class="invalid-feedback">Campo vacío o dato inválido.</div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="registro-txt-descripcion">Descripción breve</label>
                <input [ngClass]="{'is-valid':ur_txtDescripcion.valid, 'is-invalid':ur_txtDescripcion.invalid && (ur_txtDescripcion.dirty || ur_txtDescripcion.touched)}" formControlName="ur_txtDescripcion" type="text" class="form-control" id="registro-txt-descripcion" placeholder="" value="" required="">
                <div class="invalid-feedback">Campo vacío o dato inválido.</div>
            </div>
        </div>
        <div class="col-12 mt-3 text-center">
            <button [disabled]="!formularioSignup.valid" class="btn btn-readyy-salmon btn-rounded" type="button" (click)="guardarUsuario()">Unirse ahora</button>
        </div>
    </div>
</form>
